# network
batch: 3
epoch: 50
bilstm_layers: 1
word_dim: 200
lstm_dim: 100
out_dim: 100
type_dim: 10
beta: 0.8
dist_dim: 10
drop_i: 0.5
drop_m: 0.0
drop_o: 0.3
lr: 0.002
gc: 10
reg: 0.0001
opt: adam
patience: 5
unk_w_prob: 0.5
min_w_freq: 1
walks_iter: 4 

# data based
train_data: ../data/GDA/processed/train.data
test_data: ../data/GDA/processed/dev.data
embeds: 
folder: ../results/gda
save_pred: test

# options (chosen from parse input otherwise false)
lowercase: false
plot: true
show_class: false
param_avg: true
early_stop: false
save_model: true
types: true
context: true
dist: true
freeze_words: false

# extra
seed: 0
shuffle_data: true
label2ignore: 1:NR:2
primary_metric: micro_f
direction: l2r+r2l
include_pairs: ['Gene-Disease', 'Disease-Disease', 'Gene-Gene', 'Disease-Gene']
classify_pairs: ['Gene-Disease']
edges: ['MM', 'ME', 'MS', 'ES', 'SS-ind']
window:
